.App {
  text-align: center;
  background-color: #fbfbfb;
}

.App-header {
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.common-card-design{
  opacity: 1;
  background-color: gray;
  /*box-shadow: 0px 3px 6px #EFEFEF29 !important;*/
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  text-align: left;
  justify-content: flex-start;
  color:#000000;
  cursor:pointer;
  height:105px;
  margin-bottom: 20px;
  flex-direction:column;
  border: none; 
  margin-top: 20px;
}
.button-box-shadow{
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.checkbox-card-dimension{
  width:400px;
  height: 210px;
}
.button-card-dimension{
  height: 280px;
  width: 320px;
}
.text-style{
  font-size: 18px;
  font-family: sans-serif;
  font-style: normal;
}
